/* general */

@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/roboto/Roboto-Regular.woff');
}


@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/monserrat/Montserrat-Bold.woff');
}

body{
    overflow-x: hidden;
    font-family: 'Roboto';
}

section{
    width:100%;
    padding:50px 0;
    
}

.container{
    width:85%;
    margin:0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.justify{
    justify-content: space-between;
}

.center{
    align-items: center;
    justify-content: center;
}

button{
    cursor:pointer;
    border: none;
    padding: 20px 25px;
    font-size: 14px;
}

img{
    max-width:100%;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}

h1{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Monserrat';
    line-height: 40px;
}

h2{
    font-weight: bold;
    font-size: 46px;
    line-height: 30px;
}

h3{
    font-size:18px;
    font-weight:600;
    /* color:white;
    margin-bottom:20px; */
}


/*header*/

header{
    width:100%;
    padding:20px 0;
}

.nav-wrapper{
   
    padding:0 30px;

    align-items: center;
    
}

.logo{
    width:10%;
}

.nav-list{
    width:50%;
    
    align-items: center;
}

#navBar{
    width:80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav-toggler{
    width: 30px;
    height: 30px;
    padding:5px;
    border:1px solid #008E71;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s linear;
    cursor: pointer;
    position: absolute;
    top:15px;
    right:50px;
    display: none;
}

.nav-toggler:hover{
    border-color:#53424D;
}

.nav-toggler:hover > .bar{
    background-color:#53424D;
}

.bar{
    width:100%;
    height:2px;
    background-color:#008E71;
}



@media (max-width:768px) {
    .nav-toggler{
        display: flex;
    }

    #navBar{
        padding: 30px 0 30px 20px;
        height:auto;
        width:0;
        position: absolute;
        top:50px;
        right:0;
        overflow: hidden;
        visibility: hidden;
        backdrop-filter: blur(10px);
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
        transition: all 0.8s ease-in;
        z-index: 5;
    }

    .logo{
        align-self: flex-start;
    }



    .nav-wrapper{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
            }

    .nav-list{
        flex-direction: column;
    }

    .nav-item{
        margin-bottom: 20px;
    }

 #navBar.show{
    
       visibility: visible;
        width:150px;
        z-index: 10;
        
    }

    .nav-toggler.change .one{
        transform: translateY(135%)  rotate(50deg);
    }

    .nav-toggler.change .two{
        display: none;
    }

    .nav-toggler.change .three{
        transform:translateY(-260%)  rotate(-50deg);
    }

}

.logo span{
    font-size:14px;
    font-weight:700;
    
}

.nav-link{
    font-size:12px;
    font-weight:600;
    transition: all 1s linear;
}

.nav-link:hover{
    color:black;
}

/*account modal*/


.profile-wrapper{
    padding-top: 100px;
    max-width:300px;
    margin: 0 auto;
}

#user{

    padding: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.25);
    text-align: center;
    
  
}

#user h5{
    margin-bottom: 20px;
}



#user li{
    font-size:14px;
    font-weight:lighter;
    margin:10px 0;
}




.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, 0.7);
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
    visibility: hidden;
    z-index: -10;
  }
 
  .open-modal {
    visibility: visible;
    z-index: 10;
  }
  .modal-container {
    
    width: 90vw;
    min-width: 200px;
    height: 30vh;
    min-height: 90vh;
 
    position: relative;
  }
  .close-btn {
    position: absolute;
    top: 7rem;
    right: 35rem;
    font-size: 1.3rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    
  }
  .close-btn:hover {
    
    transform: scale(1.3);
  }

@media (max-width:768px){
    .modal-container{
        width: 100%;
    }
   #user{
    
    width:100%;
    height: 100vh;
   
   }

   .profile-wrapper{
    padding-top: 0;
   }

   .close-btn{
    top:1rem;
    right: 13em;
   }


   #user li{
    font-size:12px;
   }
}

@media(max-width:320px){
    .close-btn{
        top:1rem;
        right:3rem;
    }
}




/*hero*/

.hero{
    padding-top: 0;
}

.slider-wrapper {
    width:100%;
    max-height:100vh;
    position: relative;
}

.bg {
    min-height:70vh;
    max-width:100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    padding: 50px 200px;
   
 
}


.slider-text{
    min-width:30%;
    min-height:300px;
    width:300px;
    padding:30px;
    background-color: #fff;
   
}

.slider-title{
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 65px;
}

.slider-desc{
    margin-bottom: 20px;
    font-size: 24px;
}


.arrow {
    background-color: transparent;
    border:none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    transition: all 0.5s linear;
}

.arrow:hover{
    color:blueviolet;
}

.arrow-right {
    right: 10px;
}
.arrow-left {
    left: 10px;
}

.dots {
    display: flex;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.dot {
    color:blueviolet;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s linear;

}

.dot:hover{
   color:white;
}

@media(max-width:1400px){
    .dots{
        bottom:5px;
    }

    .dot{
        font-size:18px;
    }

  

    .slider-title{
        font-size: 55px;
    }
}

@media(max-width:1200px){
    .bg{
        padding-left:100px;
    }


}



@media(max-width:320px){
     .bg{
        padding: 10px;
     }

     .slider-text{
        background-color: rgba(225, 225, 225, 0.7);
        text-align: center;
     }

      .arrow{
        top:40%;
     }

     .arrow-right{
        right:5px;
     }

     .arrow-left{
        left:5px; 
     }

     
}





/*cards*/

section.cards{
    text-align: center;
    padding-top: 0;
}

.cards{
    padding-top:0;
}

.cards-container{
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    
}

.card{
    max-width:364px;
    background-color: #EDF7FF;
    padding:35px;
    text-align: center;
    cursor: pointer;
   
}

.card:hover{
    outline:3px solid #EE3364;
    box-shadow: 5px 9px 24px -1px rgba(0,0,0,0.5);
}

.card p{
    font-size:18px;
    margin-bottom:28px;
}

.card span{
    font-size:15px;
}

.icon{
    width:85px;
    height:85px;
    border-radius:50%;
    background-color: #fff;
    margin-bottom:10px;
}


.icon:hover{
    background-color: #EE3364;

}


@media(max-width:1395px){
    .card{
        margin-bottom:20px;
    }
}

@media(max-width:900px){
    .cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .card p{
        font-size:16px;
    }

   
}

@media(max-width:400px){
    section.cards {
        padding:50px 0;
        margin-bottom:0;
    }

    section.cards .container{
        width:100%;
        padding:0 20px;
    }

}



/*menu*/
   .underline {
    width: 5rem;
    height: 0.25rem;
    background: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:space-between;
  }
  .filter-btn {
    background: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
  }
 
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
  }
  .menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
  }
  .photo {
    object-fit: cover;
    height: 200px;
    
  }
  .item-info header {
    display: flex;
    justify-content: space-between;
    
  }
  .item-info h4 {
    margin-bottom: 0.5rem;
  }
  
  .item-text {
    margin-bottom: 0;
    padding-top: 1rem;
  }

  @media (min-width: 1200px) {
    .section-center {
      width: 95vw;
      grid-template-columns: 1fr 1fr;
    }
    .photo {
      height: 150px;
    }
  }
  
  @media (min-width: 768px) {
    .menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 40rem;
    }
    .photo {
      height: 175px;
    }
  }

/*school*/

.school-wrapper{padding-top: 50px;}

.row {

    display: flex;
    width:50%;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  .school-column {
    
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .school-column img {
    vertical-align: middle;
    width: 100%;
    transition: all .5s ease;
  }

  .school-column img:hover {
    opacity: .9;
    transform: scale(1.1);
    }

    .lessons-text{
        width:45%;
        min-height: 100%;
        background-image: url('../assets/pot.jpg');
        background-size: cover;
        background-position: center;
        display:grid;
        place-items: center;
    }

    .lessons-content{
        background-color: #fff;
        min-width:50%;
        min-height:50%;
        display:grid;
        place-items: center;
        padding:20px;
    }

    .lessons h2{
        line-height: 55px;
    }
  

  @media screen and (max-width: 1000px) {

    .school-wrapper{
        flex-direction: column;
        justify-content: center;
    }

    .lessons-text{
        width:100%;
        height:500px;
    }
   .row{
    width:100%;
    margin-bottom: 20px;
   }
  }

  @media screen and (max-width: 600px){
   .row{
    display: none;
   }
  }
  

   



/*about us*/

.about-wrapper{
    padding-top:50px;
}

.about-wrapper .left{
    width:45%;
}

.about-wrapper .right{
    width:45%;
}
.about-img {
    min-height: 500px;
  }

  .about-desc {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
  }
  
  .about-desc li {
    padding: 0 0 8px 26px;
    position: relative;
  }
  
  .about-desc i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 0;
  }
  
 
  .about-text p{
    margin-bottom: 15px;
  }

  @media(max-width:1200px){
    .about-wrapper{
        flex-direction: column;
        justify-content: center;
    }

   .about-wrapper .right{
        display: flex;
        width:100%;
        justify-content: space-between;
        align-items: center;
    }

  .about-wrapper  .left{
        width:100%;
        margin-bottom: 20px;
    }

    .about-text{
        width:45%;
    }

    .about-video{
        width:45%;
    }
  }

  @media(max-width:900px){
    .about-wrapper .right{
        flex-direction: column;
    }

    .about-wrapper .right .about-text{
        width:100%;
    }

    .about-wrapper .right .about-video{
        width:100%;
    }

    .about-wrapper .left .about-img{
        min-height:150px;
    }
  }
  
 
 


  /*contact*/
.contact-wrapper{
    padding-top:50px;
    justify-content: space-around;
}

.contact-wrapper .left{
    width:45%;
}

.contact-wrapper .right{
    width:35%;
}
.contact-img {
    min-height: 300px;
  }



.input-outline{
    min-height:70px;
}

input,
textarea{
    border:2px solid blueviolet;
    padding:10px;
    border-radius:5px;
    margin-bottom: 5px;
    width:100%;
}

form button{
    font-family: inherit;
    border:2px solid blueviolet;
    padding:10px 20px;
    background-color: transparent;
    width:150px;
    margin:0 auto;
    border-radius: 5px;
    transition:all 0.3s linear;
    cursor: pointer;
}

form button:hover{
    color:white;
    background-color: blueviolet;
}



  @media(max-width:900px){
    .contact-wrapper{
        flex-direction: column;
        justify-content: center;
    }

    .contact-wrapper .right{
        width:100%;
    }



    .contact-wrapper .left{
        width:100%;
        
        margin-bottom: 20px;
    }

    .contact-wrapper .contact-img{
        min-height:150px;
    }
  } 
  






/*footer*/

footer{
    padding-top:90px;
    padding-bottom:40px;
    background-color: #121212;
}

.social-icons img:first-child,
.social-icons img:nth-child(2){
    margin-right:10.4px;
}

.socials{
    margin-bottom:54px;
}

.socials .logo span{
    font-size: 24px;
}

.socials .grey{
    max-width:260px;
}



.footer-item{
    margin-bottom:10px;
}

.footer-item a{
    color:#5863F8;
    font-size:14px;
    font-weight:500;
}

.contact-item{
    margin-bottom:20px;
}

.contact-item span{
    color:white;
    font-size:14px;
    font-weight:500;
}

.contact-info i{
    color:#5863F8;
    margin-right:14px;
}

.copyright{
    color:#B1B1B1;
    font-size:14px;
    font-weight:500;
    line-height: 21px;
}

.copyright span{
    color:#5863F8;
}

@media (max-width:465px){
    .socials{
        margin-right:20px;
    }

    .contact-info{
        margin-top:20px;
    }
}










