@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.woff');
    src: url('../fonts/roboto/Roboto-Light.woff');
    src: url('../fonts/roboto/Roboto-Bold.woff');
}

@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/monserrat/Montserrat-Medium.woff');
    src: url('../fonts/monserrat/Montserrat-Light.woff');
    src: url('../fonts/monserrat/Montserrat-Bold.woff');
}

body{
    overflow-x: hidden;
    font-family: 'Roboto';
}

section{
    width:100%;
    padding:50px 0;
}

.container{
    width:80%;
    margin:0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.justify{
    justify-content: space-between;
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
}

button{
    cursor:pointer;
}

button:hover{
    background-color: black;
}

img{
    max-width:100%;
}

header, nav{
    width:100%;
    align-items: baseline;
}

nav .logo{
    width:10%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width:52%;
}

.hamburger-menu,
.close{
    transition: all 0.5s linear;
    cursor:pointer;
    width:5%;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.hamburger-menu:hover,
.close:hover{
    color:#5863F8;
}

h1{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Monserrat';
    line-height: 40px;
}

h2{
    font-weight: bold;
    font-size: 46px;
    line-height: 30px;
}

@media (max-width:769px) {

    .header{
        min-height: 100vh;
    }

   header{
    min-height:185px;
   }

   .nav-list{
    display: none;
    text-align: right;
    width:76%;
}

.toggle-menu{
    width:100%;
    justify-content: space-between;
}

.hamburger-menu{
    display:block;

}


nav ul li{
    margin-bottom:10px;
    margin-right:0;
}
}

@media(max-width: 330px){

    .hamburger-menu,
    .close{
        background-color: transparent;
        padding-top:10px;
    }

    .hamburger-menu:hover,
    .close:hover{
        background-color:transparent;
        color:#5863F8;
    }

    .nav-list{
        padding-top:10px;
    }
}

.logo span{
    font-size:14px;
    font-weight:700;
    
}

.nav-link{
    font-size:12px;
    font-weight:600;
    transition: all 1s linear;
}

.nav-link:hover{
    color:black;
}

#user{
    padding: 20px 10px;
    height:0;
    width:15%;
    position: absolute;
    top:70px;
    right:80px;
    overflow: hidden;
    visibility: hidden;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.25);
    transition: all 0.8s linear;
    text-align: center;
    margin-top: 30px;
}

#userInfo{
    padding-top: 10px;
}

#user li{
    font-size:14px;
    font-weight:lighter;
    margin:10px 0;
}


#user.show{
    
       
    visibility: visible;
    height:250px;
    
}

@media (max-width:768px){
   #user{
    top:200px;
    width:30%;
   }

   #user li{
    font-size:12px;
   }
}

